body {
  background: white;
  color: black;
  font-family: Verdana;
}

p {
  line-height: 1;
  font-size: 14px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 1% 10%;
  background-image: url('images/cursor-bullet.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 8%;
}

/* link styling */
a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  background-color: black;
  color: white;
  text-decoration: none;
}

/*link styling for images */
a.image:hover {background-color: white;}

/* reversed colors link styling */
a.reverse:link {
  color: white;
  text-decoration: none;
}

a.reverse:visited {
  color: white;
  text-decoration: none;
}

a.reverse:hover, a.reverse:active {
  background-color: white;
  color: black;
  text-decoration: none;
}

.hanging-indent {
  padding-left: 10px;
  text-indent: -10px;
}

/* website sections made with flex-boxes */
.large-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

/* section on the left */
.sub-small {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 25%;
}

.sub-small-two {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-self: flex-start;
  width: 25%;
}

/* about me and links pop-ups */
.small-container {
  align-items: flex-end;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0 5px 5px;
  line-height: 0.5;
  text-indent: 5px;
  background: rgb(90,166,207);
  background: linear-gradient(90deg, rgba(90,166,207,1) 0%, rgba(30,131,194,1) 75%, rgba(90,166,207,1) 100%);
  color: white;
}

.smaller-container {
  flex-wrap: wrap;
  padding: 1px 5px;
  outline: 1px solid black;
  background: white;
  color: black;
  text-indent: 0;
}

/* section on the right */
.sub-larger {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-right: 10px;
  width: 75%;
}

/* art pop-ups */
.sub-large {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 5px 5px;
  background: rgb(90,166,207);
  background: linear-gradient(90deg, rgba(90,166,207,1) 0%, rgba(30,131,194,1) 75%, rgba(90,166,207,1) 100%);
  color: white;
}

/* art section */
.medium-container {
  background: white;
  color: black;
  outline: 1px solid black;
}

/* adjusting for mobile */
@media (max-width: 800px) {
  p {
    font-size: 12px;
  }
  
  .large-container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .sub-small, .sub-large {
    width: 100%;
    margin: 0 5px;
  }
  
  .sub-small-two {
    width: 100%;
  }
  
  .sub-large {
    width: 100%;
    margin-bottom: 10px;
    align-self: flex-start;
  }
  
  .sub-larger {
    width: 95%;
  }
}